.section {
    width: 940px;
    margin: 0 auto;
    /* background: linear-gradient(to top, transparent, rgb(28, 61, 82)); */
}

.main-game {
    width: 940px;
    margin: 2rem auto 0 auto;
}

h2 {
    color: silver;
}

.main-game .first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.first-div button {
    background: rgb(103 193 245 / 20%);
    color: rgb(102 192 244);
    padding: .3em 1.2em;
    text-transform: unset;
}
.first-div button:hover {
    background: rgb(102 192 244);
    color: white;
}
.main-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
/* .main-section div:nth-child(2) {
    width: 324px;
} */

.main-img {
    width: 600px;
    height: 337px
}
.side-img {
    width: 324px;
    height: 151px;
}
.img-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 6px;
}
.img-grid img {
    width: 115px;
    height: 65px;
    margin-top: .15rem;
    cursor: pointer;
}

.top-desc {
    font-size: .85rem;
    margin: .2em 0;
    color: silver;
}

.bottom {
    position: relative;
}
.reviews, .date, .dev-pub {
    width: 230px;
}

.bottom p, .tag-grid {
    font-size: .68rem;
}

.bottom p {
    color: rgb(90, 90, 90);
}
.bottom span {
    color: rgb(102 192 244);
}
.bottom p:first-child {
    margin-bottom: .3em;
}
.bottom p:last-child {
    margin-top: .3em;
}
.tags p {
    font-size: .78rem;
}

.bottom span {
    /* margin-left: .8rem; */
    width: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.tag-grid {
    display: grid;
    /* grid-template-columns: repeat(5, minmax(62px, 100px)); */
    /* grid-template-columns: repeat(6, min-content); */
    grid-template-columns: repeat(6, minmax(auto, max-content));
    color: rgb(102 192 244);
    gap: 2px;
}
.tag-grid p {
    background: rgb(103 193 245 / 20%);
    border-radius: 2px;
    text-align: center;
    padding: .1em .5em;
    cursor: pointer;
    margin-top: 0;
    width: fit-content
}

.tag-grid p:hover,
.categories button:hover,
.desc-btns button:hover,
.bottom-review button:hover {
    background: rgb(102 192 244);
    color: white;
}

.user-review {
    width: 100%;
    padding: .1em .1em 1.5em .1em;
    margin-top: 1.5rem;
    background: linear-gradient(135deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%)
}
.user-heading {
    padding: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.user-heading div {
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.user-heading div button {
    padding: .8em 1.3em;
    border: 2px solid black;
    cursor: pointer;
    background: rgb(162, 202, 228);
}
.user-text > * {
    margin: 0;
}
.user-text h4 {
    color: #66c0f4;
    font-size: 1.1rem;
    font-weight: 400;
}
.user-text h6 {
    font-size: .75rem;
    color: #8f98a0 !important;
}
.user-text span {
    color: white;
    cursor: pointer;
}
.user-text span:hover {
    color: #66c0f4
}
.user-area {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.user-area img {
    height: 160px;
    padding-left: .5em;
    padding-right: .5em;
}
.user-area textarea {
    margin-right: .5rem;
    background: #222b35;
    color: white;
}
.user-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.user-footer div p {
    margin: .5rem 0 .2rem 0;
    font-size: .8rem;
    color: white;
}
.user-btns {
    display: flex;
    justify-content: space-between;
    width: 120px;
}
.user-btns button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em 1.2em;
    background: rgba( 103, 193, 245, 0.2 );
    color: #67c1f5;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}
.user-btns button > * {
    pointer-events: none;
}
.user-btns button:hover {
    background: rgb(102 192 244);
    color: white;
}
.user-btns-click {
    background: rgb(102 192 244) !important;
    color: white !important;
}
.user-btns button svg {
    margin-right: .4rem;
}
.user-footer button {
    margin-right: .5rem;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
}
.user-submit {
    border: 2px solid black;
    background: rgb(162, 202, 228);
    padding: .1em 1.5em;
    margin-right: .5rem !important;
}

.bottom-grid {
    display: grid;
    /* background: linear-gradient(to right, transparent, rgb(33, 73, 97)); */
    grid-template-columns: 600px 315px;
    margin-top: 3rem;
    gap: 14px;
    grid-template-areas: 
    'first side-top'
    'about side-middle';
}

.purchase {
    position: relative;
    grid-area: first;
    /* background: green; */
    height: 80px;
}
.platforms {
    background: transparent;
}
.platforms img {
    object-fit: contain;
    height: 24.5px;
    width: 24.5px;
}
.purchase div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 616px; */
    background: linear-gradient(to right, transparent, rgba(192, 192, 192, 0.479));
    border-radius: 6px;
    padding: .8em .8em 1.6em .8em;
    color: white;
}
.purchase .purchase-price {
    display: flex;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: .1em;
    transform: translate(-9%, 190%);
}
.purchase .purchase-price p {
    color: gray;
    margin: 0;
    padding: .5em .9em;
    font-size: .9rem;
}
.purchase .purchase-price button {
    background: rgb(88 138 27);
    padding: .08em 1.2em;
    color: white;
    text-transform: inherit;
}

.categories, .desc {
    grid-area: side-top;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2px;
    background: linear-gradient(to right, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 50%) 100%);
    padding: 1.2em .3em 1.2em 1.7em;
}
.categories button, .desc-btns button {
    background: rgb(103 193 245 / 10%);
    justify-content: flex-start;
    color: rgb(102 192 244);
    font-size: .77rem;
    border-radius: 2px;
    padding: .25em 0 .25em .8em;
    text-transform: inherit;
}

.desc {
    grid-area: side-middle;
}
.desc-info > * {
    letter-spacing: .065em;
}
.desc-info p {
    color: rgb(85 103 114);
    margin: .35rem 0;
    font-size: .7rem;
}
.desc-info span {
    color: rgb(102 192 244);
    font-size: .75rem;
}

.desc-btns {
    display: flex;
    flex-direction: column; 
    gap: 2px;
    margin-top: .8rem;
}

.about {
    grid-area: about;
    margin-bottom: 4rem;
}
.about p:first-child {
    border-bottom: 1px solid silver;
    padding-bottom: .3rem;
    color: silver;
}
.about img {
    width: 100%;
    margin: .5rem 0 .8rem 0;
}
.about div p {
    color: rgb(155, 161, 167);
}

p.review-heading {
    color: silver;
    letter-spacing: .09em;
    font-weight: 700;
}
.review-block {
    display: grid;
    grid-template-columns: 600px 308px;
    gap: 24px;
}

.review-card .main-review {
    background: rgb(0 0 0 / 20%);
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: 2rem;
    width: 600px;
    padding: .2em 0 .25em .3em;
}
/* .review-card {
    background: rgb(0 0 0 / 20%);
    display: grid;
    grid-template-columns: 200px auto;
    width: 600px;
    padding: .2em 0 .25em .3em;
} */
.avatar span {
    color: silver;
}
.avatar div {
    /* background: unset; */
}
.review-info div:first-child {
    display: flex;
    align-items: center;
    background: rgb(0 0 0 / 20%);
}
.review-info div:first-child p {
    margin: .3rem .6rem;
}
.top-review p:last-child {
    color: silver
}
.review-info div:first-child svg {
    font-size: 2rem;
}
.review-info div:first-child svg,
.side-review svg {
    background: rgb(103 193 245 / 20%); 
    color: rgb(102 192 244); 
    padding: .2em;
}

.middle-review {
    border-bottom: 1px solid silver;
    padding-bottom: .3rem;
}
.middle-review p, .middle-side-review p:last-child {
    margin: .55rem 0;
    font-size: .85rem;
    color: silver;
}

.middle-review p:first-child, .bottom-review p, 
.middle-side-review p:first-child,
.bottom-side-review p:first-child {
    font-size: .8rem;
    color: rgb(85 103 114) !important
}
.bottom-review button, .side-review,
.bottom-side-review button {
    background: rgb(103 193 245 / 5%);
    color: rgb(102 192 244);
    text-transform: inherit;
    font-size: .8rem;
    padding: .25em .5em;
    margin-right: .25rem;
}
.bottom-review button svg,
.bottom-side-review button svg {
    margin-right: .3rem;
    font-size: 1.3rem;
}

.main-background {
    background: linear-gradient(to right, rgb(103 193 245 / 15%), transparent);

}
.side-review {
    display: flex;
    align-items: center;
    padding: 0;
    background: rgb(0 0 0 / 40%);
}
.side-review p {
    margin: 0;
    padding: .4em;
    color: silver;
}
.middle-side-review {
    padding: .4em;
    border-bottom: 1px solid black;
}
.middle-side-review p:first-child {
    margin: 0
}
.bottom-side-review p:first-child {
    margin: 0 0 .45rem 0;
}
.bottom-side-review {
    padding: .4em;
}