.category {
    /* width: 95%; */
    width: 940px;
    margin: 4rem auto;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(150px, 250px)); */
    grid-template-columns: repeat(4, 222px);
    gap: 15px;
    justify-content: center;
    position: relative;
}

.grid a {
    position: relative;
}

.grid img, .grid a {
    /* width: 200px; */
    width: 100%;
    height: 223px;
    object-fit: cover;
}

/* .name {
    background: linear-gradient(to top, red, transparent);
} */
.name, .name p {
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: linear-gradient(to top, red, transparent); */
    width: 100%;
    /* backdrop-filter: opacity(9); */
}
.name p {
    left: 50%; 
    transform: translate(-50%, 520%);
    text-align: center;
    color: white;
    background: none;
    font-weight: 700;
    height: 30px;
}

.category-tabs {
    display: flex;
    justify-content: center;
}

.active-tab {
    background: rgb(255, 255, 255) !important;
}

.category-tabs div {
    margin: 1.5rem .3rem 0 0;
    border-radius: 3px;  
    background: silver;
    cursor: pointer;
    width: 15px;
    height: 9px;
    opacity: .5;
    transition: background .4s;
}

.category-tabs div:hover {
    background: rgba(255, 255, 255, 0.87);
}

.browse {
    margin: 4rem 0;
}

.browse-grid {
    display: grid;
    grid-template-columns: repeat(4, 228px);
    height: 59px;
    gap: 9px;
    /* 229 x 58 */
}

.browse-grid button {
    background: rgb(45 115 255);
    color: white;
    font-weight: 600;
    padding: 0 !important;
}

.browse-grid button:hover {
    background: rgb(6 191 255);
}

.price {
    margin: 4rem 0;
}

.price-group {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 229px);
}

.price-group div {
    border-radius: 0 !important;
    box-shadow: 0 0 10px black !important;
}

.price-tag {
    padding: .5em !important;
    background: rgb(75, 99, 117);
}

.price-tag p {
    margin: 0 !important;
    color: white;
    background: rgb(50, 66, 77);
    width: fit-content;
    padding: .05em .35em;
}

.price-imgs {
    width: 229px;
    height: 106px;
    /* 229 x 106 */
}

.new-group {
    display: grid;
    grid-template-areas: 
    'side one two three'
    'side four five six';
    grid-template-columns: 385px repeat(3, 173px);
    gap: 12px;
}
.new-group div {
    border-radius: 0 !important;
}

.new-imgs {
    object-fit: fill !important;
    /* height: auto; */
    width: 100%;
}

.new-tag {
    padding: .4em !important;
    display: flex;
    justify-content: flex-end;
    background: rgb(75, 99, 117)
}

.new-tag p {
    margin: .5em;
    color: white;
    font-weight: 700;
}

.side {
    grid-area: 'side';
    grid-row-start: 1;
    grid-row-end: 3;
    /* 378 x 398  */
}
.side p {
    /* height: 42px; */
    height: 29px;
}
.one {
    grid-area: 'one';
}
.two {
    grid-area: 'two';
}
.three {
    grid-area: 'three';
}
.four {
    grid-area: 'four';
    grid-column-start: 2;
}
.five {
    grid-area: 'five';
}
.six {
    grid-area: 'six';
}