.main-games {
    width: 940px;
    margin: 4rem auto 0 auto;
}

.card {
    cursor: pointer;
    box-shadow: 0 0 20px black !important;
    border-radius: 0 !important;
}

.card button {
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 67%;
}

.route-links {
    text-decoration: unset;
    height: inherit;
}

.route-links > * {
    pointer-events: none;
}

.favorites {
    display: grid;
    gap: 12px;
    grid-template-areas: 
    'first second third'
    'first second fourth';
    grid-template-columns: repeat(3, 305px);
}

.first, .second {
    background: rgb(75, 99, 117) !important
}

.third, .fourth {
    background: rgb(182, 227, 255) !important
}
.first {
    grid-area: first;
}
.second {
    grid-area: second;
}
.third {
    grid-area: third;
}
.fourth {
    grid-area: fourth;
}
.card-favs {
    cursor: pointer;
    border-radius: 0 !important;
    box-shadow: 0 0 10px black !important;
}
.card-favs a {
    text-decoration: unset;
    color: unset;
}
.card-favs a button {
    width: 306px;
}
.card-favs a > * {
    pointer-events: none;
    width: 100%;
}

.card-imgs {
    height: 195px;
    object-fit: fill !important;
}
.test-img {
    width: 25px;
    height: 25px;
}

.side-card {
    padding: 0 !important;
}

.bottom-data {
    display: flex;
    justify-content: space-between;
}

.bottom-data p {
    margin: 0 !important;
    background: rgba(20, 31, 44, .2);
    padding: .1em .4em;
}

.right-card {
    /* width: 296px; */
    width: 33%;
    background: rgb(17, 15, 31);
    height: 353px;
}

.right-card p {
    color: white;
    margin: .7em;
    font-size: 1.4rem;
}

.card-grid {
    display: grid;
    /* grid-template-columns: minmax(100px, 140px) minmax(100px, 170px); */
    grid-template-columns: 130px 170px;
    justify-content: center;
    gap: 10px;
}

.right-card img {
    width: 160px;
    max-width: 100%;
    height: 69px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.active-tab {
    background: rgb(255, 255, 255) !important;
}

.tabs div {
    margin: 1rem .3rem 0 0;
    border-radius: 3px;  
    background: silver;
    cursor: pointer;
    width: 15px;
    height: 9px;
    opacity: .5;
    transition: background .4s;
}

.tabs div:hover {
    background: rgba(255, 255, 255, 0.87);
}

.card-data {
    display: flex;
    justify-content: space-between;
    color: white;
}

.game-info p {
    font-size: .75rem;
    margin: 2rem 0 0 0;
    align-self: flex-end;
}

.game-info h6 {
    font-size: .7rem !important;
    background: rgba( 255, 255, 255, 0.2 );
    width: fit-content;
    border-radius: 3px;
    padding: .1em .5em;
}

.icons {
    align-self: flex-end;
}
.icons img {
    object-fit: contain;
    height: 18.5px;
    width: 18.5px;
}

.steam {
    display: grid;
    grid-template-columns: 610px 315px;
    gap: 10px;
    justify-content: center;
    width: 95%;
    margin: 4rem auto;
}

.deck, .index {
    object-fit: fill;
    height: 125px;
}

.deck, .index {
    width: 100%;
}