nav {
    background: #242424;
    padding: .5em 0 .3em .15em;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.store-link {
    text-decoration: none;
    padding: unset;
    margin: unset;
}

a {
    width: 150px;
    margin: 0 auto;
    background: #242424;
}

img {
    object-fit: contain;
    width: 160px;
}