.SiteNav  {
    background: rgb(45, 82, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2rem auto 0 auto;
    padding: .3em 0 .3em .4em;
}

.btns {
    position: relative;
    display: inline-block
}

.btns Button {
    color: white;
    text-transform: initial;
    margin-right: .5em;
}

.btns div {
    display: none;
    position: absolute;
}

.btns div:hover .left {
    display: block;
}

.textfield {
    display: flex;
    align-items: center;
}

.textfield input {
    padding: .25em;
    background:rgb(83, 141, 160);
    border: .5px solid rgb(72, 124, 141);
}

.textfield input::placeholder {
    padding-left: .6em;
    font-style: italic;
    color: darkslategrey
}

.textfield svg {
    cursor: pointer;
    background: rgb(111, 187, 212);
    color: rgb(70, 70, 70);
}