.SiteNav  {
    background: rgb(45, 82, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2rem auto 0 auto;
    padding: .3em 0 .3em .4em;
}

.btns {
    position: relative;
    display: inline-block
}

.btns Button {
    color: white;
    text-transform: initial;
    margin-right: .5em;
}

.btns div {
    display: none;
    position: absolute;
}

.btns div:hover .left {
    display: block;
}

.textfield {
    display: flex;
    align-items: center;
}

.textfield svg {
    cursor: pointer;
}